@using Microsoft.AspNetCore.Identity;
@using BASEDDEPARTMENT.Entities;
@inject SignInManager<AppUser> _signInManager

<ul class="navbar-nav">
	@if (_signInManager.IsSignedIn(User))
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				@User.Identity?.Name
			</a>
			<ul class="dropdown-menu left-navbar" aria-labelledby="navbar-dropdown" style="padding: 0">
				<li class="border-bottom-0">
					<a class="dropdown-item border-bottom" style="padding-bottom: 15px" asp-controller="Account" asp-action="Profile">
						Profile
					</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Account" asp-action="EditProfile">
						Edit Profile
					</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Account" asp-action="Logout">
						Log out
					</a>
				</li>
			</ul>
		</li>
	}

</ul>