@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> _userManager
@model UserProfileViewModel
@{
	var user = await _userManager.FindByIdAsync(Model.Id);
}


<fieldset style="border: solid; border-width: 1px; border-radius: 5px; max-width: 576px; height: 100%">
	<div style=" margin-top: 75px;" class="text-center">
		@if (user?.Email != default )
		{
			<h2> You dont have an email attached to this profile</h2>
			<a class="btn btn-primary" href="@Url.Action("AttachUserEmail", new { userName = Model.UserName, id = Model.Id })">
				Attach an email
			</a>
		}
		else
		{
			<ul style="margin-top: 10px;">
				<li class="list-group" style="margin-bottom: 20px;">
					<div>
						<span class="justify-content-between d-flex" style="padding-right: 10px; ">
							<span style="padding-top: 5px;">Email: @Model.Email</span>
							<a class="btn btn-outline-secondary" href="@Url.Action("ChangeUserEmail", new { userName = Model.UserName, id = Model.Id })">
								Change Email
							</a>
						</span>
					</div>
				</li>

				<li class="list-group"><span>Id: @Model.Id</span></li>
			</ul>
		}
	</div>
</fieldset>
